body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.jumbotron {
    display: flex;
    flex-direction: column;
    background-image: url('images/48850WideModern_TechnologyDevices_131023.jpg');
    background-size: cover;
    align-items: center;
    color:white;
}
#jumbotron1 {
    display: flex;
    flex-direction: column;
    background: url('images/423176.jpg')no-repeat center center;
    background-size: cover;
    align-items: center;
    color: white;
}
#jumbotron2 {
    display: flex;
    flex-direction: column;
    
    background-size: cover;
    align-items: center;
    background-color:orange;
}
h1 {
    text-align: center;
}

h2 {
    text-align: center;
}
p{
    text-decoration:solid;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

