@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Peter's Technology Reviews</h1>
    <p>Bloomin' onions samosas chicken-fried steaks Kappa Ebisen. Shrimp tempura pork-stuffed egg rolls plantain chips croquettes. Cajun crabcakes tortilla chips croquettes crawfish pies. Croquettes soft-shelled crabs Philly scrapple Kappa Ebisen.</p>
</div>

<!--gave each jumbotron its own id so that it can have a different style
    the links allow the user to automatically go to that specific index
    after clicking on the button-->
<div class="row"></div>
<div class="col-md-6">
    <div id="jumbotron1">
        <h1>Reviews</h1>
        <p><a class="btn btn-default" href="~/Reviews/Index">See all Reviews &raquo;</a></p>
    </div>
</div>
<div class="col-md-6">
    <div id="jumbotron3">
            <h1>Categories</h1>
            <p><a class="btn btn-default" href="~/Categories/Index">See all Categories &raquo;</a></p>
    </div>
</div>