@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p>Bloomin' onions samosas chicken-fried steaks Kappa Ebisen. Shrimp tempura pork-stuffed egg rolls plantain chips croquettes. Cajun crabcakes tortilla chips croquettes crawfish pies. Croquettes soft-shelled crabs Philly scrapple Kappa Ebisen.</p>
</div>

<div class="row"></div>
    <div class="col-md-4">
        <div class="jumbotron">
            <h2>Getting started</h2>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
    </div>
<div class="col-md-6">
    <div class="jumbotron">
        <h2>Reviews</h2>
        <p><a class="btn btn-default" href="~/Reviews/Index">See all Reviews &raquo;</a></p>
    </div>
</div>
<div class="col-md-6">
    <div class="jumbotron">
        <h2>Categories</h2>
        <p><a class="btn btn-default" href="~/Categories/Index">See all Categories &raquo;</a></p>
    </div>
</div>